/** @format */

body {
  background-color: #0d1117;
  color: #39a6ff;
}
.questions {
  background-color: #263238;
  padding: 3px;
}
.plus {
  /* font-size: 40px; */
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  outline: 1px solid greenyellow;
}
